
<% layout('layout/page') -%>
<% block('title', 'Привет ≥︺‿︺≤'); -%>

<!-- tree -->
<div style="border: 1px solid gray; height: 400px; overflow: auto;">
	<ul id="treePages" class="filetree treeview">
	</ul>
</div>

<script type="text/javascript">
	var treeObj =<%-JSON.stringify(treeJson)%>;
	var config = {
		urls: {
			feedChildNodesUrl: "pages/page",
			feedTreeScopeNodesUrl: "pages/pageTreeScope"
		},
	    enableDragAndDrop: true,
	    onStartFeedChildNodes: function(nodeLi) {
	    	console.log("Start loading child");
	    },
		onSuccessFeedChildNodes: function(nodeLi) {
	    	console.log("Success loading child");
	    },
		onStartFeedTreeScopeNodes: function(nodeLi) {
	    	console.log("Start loading tree scope");
	    },
		onSuccessFeedTreeScopeNodes: function(nodeLi) {
	    	console.log("Success loading tree scope");
	    }
	    //dragAndDropScrollContainer: null
	}
	
	jQuery("#treePages").createTreeControl(config, treeObj);
	
	/*var treeControl = new tabaga.TreeControl(document
			.getElementById("treePages"), "pages/page", "pages/pageTreeScope",
			true, treeObj);
	treeControl.init();*/
</script>
