
<% layout('layout/page') -%>
<% block('title', 'Привет ≥︺‿︺≤'); -%>

<!-- tree -->
<div style="border: 1px solid gray; height: 400px; overflow: auto;">
	<ul id="treePages" class="filetree treeview">
	</ul>
</div>

<script type="text/javascript">
						var treeObj = <%-JSON.stringify(treeJson)%>;
						var treeControl = new mycontrol.TreeControl(
								document.getElementById("treePages"), "pages/page",
								"pages/pageTreeScope", true,
								treeObj);
						treeControl.init();
					</script>
