
<% layout('layout/page') -%>
<% block('title', 'Привет ≥︺‿︺≤'); -%>

<div class="pageBrowse">
	<div class="colControl">
		<div class="browseBoxContext">
			<div class="browseBox">
				<div class="menuList">
					<!-- tree -->
					<ul id="treePages" class="filetree treeview">
					</ul>

					<script type="text/javascript">
						var treeObj = <%=treeJson%>;
						var treeControl = new mycontrol.TreeControl(
								"treePages", "pages/page",
								"pages/pageTreeScope", true,
								treeObj);
						treeControl.init();
					</script>
					
				</div>
				<div class="pageList">
					<button type="button" name="Expand node"
						onclick="mycontrol.openTreeNode('treePages', 'n49')">Expand
						node</button>

				</div>
			</div>
		</div>
	</div>
</div>
