
<% layout('layout/page') -%>
<% block('title', 'Hello'); -%>

<!-- tree -->
<div id="parentTreePages" style="border: 1px solid gray; height: 400px; overflow: auto;">

    <table style="width: 100%" border="1">
    <tbody>
    <tr>
    <td width="50%" valign="top">
    <ul id="treePages" class="filetree treeview">
	</ul>
    </td>
    
    <td width="50%" valign="top">
    <ul id="treePages2" class="filetree treeview">
	</ul>
    </td>
    
    </tr>
    </tbody>
    </table>
	
</div>

<script type="text/javascript">
	var treeObj =<%-JSON.stringify(treeJson)%>;
	var treeObj2 =<%-JSON.stringify(treeJson)%>;
	function PageDropTarget(nodeSpan) {
		tabaga.DropTarget.apply(this, arguments);
    }
	
	// наследование таким образом не работает в IE8
	PageDropTarget.prototype = Object.create(tabaga.DropTarget.prototype);
	// переопределить accept
	PageDropTarget.prototype.accept = function(dragObject) {
		console.log("DropTarget: " + this + " accept DragObject: " + dragObject + " state: " + this.state);
		tabaga.DropTarget.prototype.accept.apply(this, arguments);  
	};
	
	// переопределить TreeControl
	function PageTreeControl() {
		tabaga.TreeControl.apply(this, arguments);
    }
	PageTreeControl.prototype = Object.create(tabaga.TreeControl.prototype);
	PageTreeControl.prototype.onSelectTreeNode = function(event) {
		console.log("select node: " + this);
		tabaga.TreeControl.prototype.onSelectTreeNode.apply(this, arguments);  
	}
	
	var config = {
		TreeControlConstructor: PageTreeControl,
		urls: {
			feedChildNodesUrl: "pages/page",
			feedTreeScopeNodesUrl: "pages/pageTreeScope"
		},
	    onStartFeedChildNodes: function(nodeLi) {
	    	megion.showLoadingStatus(true);
	    },
		onSuccessFeedChildNodes: function(nodeLi) {
			megion.showLoadingStatus(false);
	    },
		onStartFeedTreeScopeNodes: function(nodeId) {
			megion.showLoadingStatus(true);
	    },
		onSuccessFeedTreeScopeNodes: function(nodeLi) {
			megion.showLoadingStatus(false);
	    },
	    dragAndDrop: {
	    	scrollContainer: jQuery("#parentTreePages")[0],
	    	DropTargetConstructor: PageDropTarget
	    }
	}
	
	jQuery("#treePages").createTreeControl("1", config, treeObj);
	jQuery("#treePages2").createTreeControl("2", config, treeObj2);
	
</script>
