
<% layout('layout/page') -%>
<% block('title', 'Привет ≥︺‿︺≤'); -%>

<!-- tree -->
<div style="border: 1px solid gray; height: 400px; overflow: auto;">
	<ul id="treePages" class="filetree treeview">
	</ul>
</div>

<script type="text/javascript">
	var treeObj =<%-JSON.stringify(treeJson)%>;
	var config = {
		urls: {
			feedChildNodesUrl: "pages/page",
			feedTreeScopeNodesUrl: "pages/pageTreeScope"
		},
	    onStartFeedChildNodes: function(nodeLi) {
	    	console.log("Start loading child");
	    },
		onSuccessFeedChildNodes: function(nodeLi) {
	    	console.log("Success loading child");
	    },
		onStartFeedTreeScopeNodes: function(nodeId) {
	    	console.log("Start loading tree scope");
	    },
		onSuccessFeedTreeScopeNodes: function(nodeLi) {
	    	console.log("Success loading tree scope");
	    },
	    
	    dragAndDrop: {
	    	//scrollContainer: null,
	    	disableDefaultCallCompleteAccept: true,
	    	
	    	onAcceptDragObject: function(dropTarget, dragObject, state) {
		    	console.log("DropTarget: " + dropTarget + " accept DragObject: " + dragObject + " state: " + state);
		    	dropTarget.completeAccept(dragObject);
		    }
	    }
	}
	
	jQuery("#treePages").createTreeControl(config, treeObj);
	
</script>
