
<% layout('layout/page') -%>
<% block('title', 'Hello'); -%>

<div class="menuPanel">
	<button type="button" class="btn" >
		<i class="icon-delete"></i>
	</button>
	<button type="button" class="btn" onclick="">
		<i class="icon-copy"></i>
	</button>
	<button type="button" class="btn" onclick="">
		<i class="icon-move"></i>
	</button>
</div>

<!-- tree -->
<div id="parentTreePages" style="border: 1px solid gray; border-width: 1px 0 1px 0; overflow: auto;">
    
    <div style="float: left; width: 50%; border-right: 1px solid gray;">
    <ul id="treePages" class="filetree treeview"></ul>
    </div>
    <div style="float: left; width: 40%;">
    <ul id="treePages2" class="filetree treeview">
	</ul>
    </div>
	
</div>

<script type="text/javascript">
	var treeObj =<%-JSON.stringify(treeJson)%>;
	var treeObj2 =<%-JSON.stringify(treeJson)%>;
	
	var config = {
			TreeControlConstructor: PageTreeControl
		}
	
	jQuery("#treePages").createTreeControl("1", config, treeObj);
	var tree2 = jQuery("#treePages2").createTreeControl("2", config, treeObj2);
	//tabaga.enableHistoryControl(tree2, false);
	
</script>
