@CHARSET "UTF-8";

body {
	font-family: Cantarell, 'Droid Sans', Ubuntu, 'DejaVu Sans', Arial,
		sans-serif;
	font-size: 0.8em;
	padding: 0 0 40px;
	margin: 0px;
	padding: 0px;
}

.basicHeader {
	height: 60px;
}

.centralContainer {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.gridMain {
	width: 700px;
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.gridRightSidebar {
	margin-top: 1em;
	width: 220px;
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.section {
	display: inline;
	float: left;
	margin-left: 0;
	margin-right: 10px;
}

.section img {
	float: left;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
	margin-right: 15px;
	width: 100px;
	border: solid 1px #CCCCCC;
}

.section a {
	color: #3B6EB4;
	font-size: 14px;
	/*font-weight: bold;
    text-decoration: none;*/
}

.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}

.lineSeparator {
	background-color: #E7E7E7;
	height: 1px;
	margin-bottom: 15px;
	margin-top: 15px;
	width: 100%;
}

.pagination {
	border-collapse: collapse;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 20px 0;
	text-align: center;
	width: 400px !important;
}

.pagination a {
	color: black;
	font-size: 13px;
	padding: 0 2px;
	overflow: hidden;
	display: inline;
}

.pagination a.pagination_active {
	color: red;
}

.pagination a.pagination_next {
	font-weight: bold;
}

.pagination a.pagination_prev {
	font-weight: bold;
}

#secNavigation {
	vertical-align: top;
	padding: 0px;
	padding-top: 6px;
	margin: 0px;
	/*float: right;*/
	height: 25px;
}

#secNavigation ul {
	color: #8C8F91;
	float: right;
	font-size: 10px;
	height: 23px;
	margin: 0px;
	padding: 0px;
}

#secNavigation li {
	float: left;
	height: 29px;
	list-style: none outside none;
	margin-top: 4px;
}

#secNavigation li a {
	border-bottom: 1px dotted #4E7287;
	color: #1C447D;
	font-weight: bold;
	margin: 0 0 0 2;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
}

#secNavigation li a:hover {
	border-bottom: 1px dotted #6A8EA4;
	color: #B2CDDD;
}

.editName {
	vertical-align: middle;
	width: 115px;
	float: left;
	padding: 4px;
	/*margin-top: 3px;*/
	clear: left;
}

.editNameCheckBox {
	width: 15px;
}

.editNameLong {
	width: 180px;
}

.editValue {
	float: left;
	padding: 4px 0px 4px 4px;
	white-space: nowrap;
	vertical-align: middle;
}

.editValue select {
	width: 100px;
}

.editValueNotEmpty {
	background-color: #7b917b;
	-moz-border-radius: 3px; /* mozilla 1.5 */
	-webkit-border-radius: 3px; /* safari 3 */
	-khtml-border-radius: 3px; /* Konqueror */
	border-radius: 3px; /* CSS3 */
}

.simpleLink {
	color: #0000CC;
}

.error {
	color: red;
	font-family: arial, sans-serif;
}

.editInputLabel {
	font-family: arial, sans-serif;
}

.bodyManage {
	height: 99%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.pageBrowse {
	height: 60%;
	position: relative;
	top: 0;
	background: none repeat scroll 0 0 #FFFFFF;
	padding: 3px;
}

.colControl {
	bottom: 10ex;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 5px;
}

.browseBoxContext {
	height: 100%;
	position: relative;
}

.browseBox {
	margin-top: -0.2em;
	border-bottom: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.menuList {
	background: none repeat scroll 0 0 #FFFFFF;
	border-right: 1px solid #CCCCCC;
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: auto;
	padding: 0;
	position: absolute;
	top: 0;
	width: 30%;
}

.pageList {
	background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #CCCCCC;
    bottom: 0;
    height: 100%;
    left: 30%;
    margin: 0 0 0 -1px;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    width: 70%;
}

.loadingStatusLabel {
    background-color: #FFF1A8;
    border-color: #FFF1A8 #FFF1A8;
    border-radius: 0 0 4px 4px;
    border-right: 2px solid #FFF1A8;
    border-style: none solid solid;
    border-width: 0 2px 2px;
    color: #000000;
    font-family: arial,sans-serif;
    font-weight: bold;
    left: 50%;
    margin-left: -16px;
    padding: 3px;
    position: absolute;
    z-index: 1100;
}
