@CHARSET "UTF-8";

.modalBg {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	text-align: center;
	top: 0;
	white-space: nowrap;
	width: 100%;
}

.modalWindow {
	left: 50%;
	margin-left: -320px;
	position: fixed;
	top: 0px;
	width: 640px;
	background: none repeat scroll 0 0 #fff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 8px 30px -5px
		rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.modalWindow-header {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.5em;
	height: 50px;
	line-height: 50px;
	padding: 0 32px 0 16px;
}

.modalWindow-header-close {
    height: 16px;
    opacity: 0.4;
    right: 14px;
    top: 16px;
    width: 16px;
    margin-top: 0;
    position: absolute;
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-family: u0000;
    font-size: 20px;
}

.modalWindow-header-close:before {
    content: "тип";
    position: relative;
    top: -5px;
}

.modalWindow-header-close:hover {
    opacity: 1;
}

.modalWindow-body {
	margin: 0;
	padding: 0;
	display: block;
}

.modalWindow-body-content {
	max-height: 350px;
    overflow: auto;
    padding: 0 16px;
}

.modalWindow-body:BEFORE {
	content: "";
	display: table;
	margin-bottom: 16px;
	margin: 0;
}

.modalWindow-body:AFTER {
	clear: both;
    content: "";
    display: table;
    margin-top: 16px;
}

.modalWindow-footer {
	box-shadow: 0 1px rgba(0, 0, 0, 0.15) inset, 0 -2px rgba(0, 0, 0, 0.04);
	margin-top: -1px;
	padding: 11px 10px 10px;
	overflow: hidden;
}