<script type="text/template" id="changePageModal-template">
<a class="modalWindow-header-close"></a>
<div class="modalWindow-header"><% title %></div>
<div class="modalWindow-body">
	<form id="changePageModal-window">
		title <input name="title" value="<% page.title %>" />
	</form>
</div>
<div class="modalWindow-footer">
	<button onclick="tabaga.modalMaster.closeModal(e)">Cancel</button>
	<button
		onclick="console.log('s: ' + $('#changePageModal-window').serialize())">Ok</button>
</div>
</script>